/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.editor--slides-container {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	width: 100%;
	scroll-snap-type: mandatory;
	scroll-snap-points-x: repeat(100%);
	> li {
		display: inline-flex;
		align-content: center;
		width: 100%;
		flex-wrap: wrap;
		margin-bottom: 0;
	}
	.tautala-text {
	}
}

.tautala-image-wrapper {
	position: relative;
}

button.has-svg {
	display: flex;
}

ul.editor--slides-container.has-large-image .upload-image {
	margin: 0 auto;
	margin-bottom: 2rem;
}
