/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-tautala-testimonials {
	padding: 50px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 32px 0px rgba(122, 122, 122, 0.1);
	> ul {
		padding-left: 0;
	}
}

.tautala-avatar {
	margin-right: 1rem;
	align-self: center;
}

.tautala-text {
	white-space: normal;
	width: 100%;
	p {
		font-style: italic;
		margin-top: 0;
		margin-bottom: 20px;
	}
}

.tautala-user {
	display: flex;
	align-items: center;
}

.tautala-testimonial-author,
.tautala-testimonial-title {
	margin: 0;
}

.tautala-testimonial-author {
	font-size: 1em;
	font-weight: bold;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.list-unstyled {
	list-style-type: none;
}

.tautala-pagination {
	float: right;
}

.tautala-pagination-button {
	margin: 15px 0;
	padding: 5px;
	background-color: transparent;
	border: none;
	&:hover {
		background-color: transparent;
		border: none;
	}
	&:before {
		content: '';
		border: none;
		background: #e4ebf5;
		width: 10px;
		height: 10px;
		display: block;
		border-radius: 100%;
		transition: all 0.3s ease;
	}
	&.active:before {
		background: #7261ee;
		transform: scale(1.2);
	}
}

// Circular images
.wp-block-cgb-tautala-testimonials ul.has-circular-image {
	.tautala-avatar {
		border-radius: 100%;
	}
}

// For a large image
.wp-block-cgb-tautala-testimonials ul.has-large-image {
	.tautala-text {
		order: 3;
		margin-top: 2rem;
		> p {
			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
	.tautala-user {
		flex-wrap: wrap; // allow wrap
		flex: 1; // grow
	}
	.tautala-image-wrapper {
		margin-bottom: 2rem;
	}
	.tautala-image-wrapper,
	.tautala-testimonial-info {
		display: flex;
		flex: 1;
		flex-basis: 100%;
		justify-content: center;
	}
	.tautala-testimonial-info {
		flex-direction: column;
	}
	.tautala-testimonial-info,
	.tautala-text-content {
		text-align: center;
	}
	.tautala-image-wrapper {
		overflow: hidden;
	}
	// our zoom effect
	.tautala-avatar {
		cursor: pointer;
		margin-right: 0;
		transform: scale(1);
		transition: all 0.5s ease;
		&.active {
			transform: scale(1.4);
		}
	}
}

.wp-block-cgb-tautala-testimonials ul.client--slides-container.has-large-image {
	li {
		display: flex;
		flex-direction: column;
	}
}

// responsive
@media all and (max-width: 540px) {
	.wp-block-cgb-tautala-testimonials {
		padding: 20px;
	}
	.wp-block-cgb-tautala-testimonials ul.has-small-image {
		.tautala-user {
			flex-direction: column;
		}
		.tautala-image-wrapper {
			margin-bottom: 2rem;
		}
	}
	.tautala-pagination {
		position: relative;
		top: -2.5rem;
	}
}
